/* =======================================================
 * CONFIGURE
   ======================================================= */

$cover-options-top-border: $price-card-top-border !default;
$cover-options-border-selected: $sky-3 !default;
$cover-options-block-size-large: $space-12 !default;
/* more in comparison table and toggle toggle-switch */

/* =======================================================
 */


.price-card.cover {
    color: inherit;
    transition: border-color 0.2s ease;
    display: flex;
    flex-flow: row wrap;
    @include breakpoint(medium) {
        padding-bottom: $space-3;
    }

    &::before {
        background-color: $cover-options-top-border;
        transition: background-color 0.2s ease;
    }
    .selected {
        display: none;
    }
    &.is-selected {
        border-color: $cover-options-border-selected;
        &::before {
            background-color: $cover-options-border-selected;
        }
        .selected {
            display: block;
        }
        .not-selected {
            display: none;
        }
    }
    .image > img {
        width: 100%;
    }
    label {
        font-size: $small-paragraph-size;
    }
    .amount {
        font-size: $space-4;
    }

    .show-hide-control {
        text-align: left;
        border-bottom: none;
        @include breakpoint(medium) {
            margin-top: 0;
            padding: 0;
        };
        @include breakpoint(large) {
            border-bottom: none;
            border-top: none;
        }

    }
    .show-hide-panel {
        @include breakpoint(medium) {
            padding-top: $space-2;
            *:last-child {
                margin-bottom: 0;
            }
        };
    }
    .price {
        flex: 1 1 60%;
    }
    .toggle-switch-wrap {
        flex: 1 1 40%;
    }
    .toggle-switch-tick-only {
        display: inline-block;
        margin-top: $space-1;
        height: $toggle-height-large;
        width: $toggle-height-large;
        text-align: center;
        border: $toggle-gap-large solid $toggle-color-on-large;
        border-radius: 50%;
        &::before {
            @extend .material-icons;
            content: 'done';
            color: $toggle-color-on-large;
            font-size: $toggle-tick-size-large;
            line-height: $toggle-height-large - ($toggle-gap-large*2);
        }
    }

    @include breakpoint(medium){
        .image {
            order: 1;
            flex: 0 1 $space-7;
        }
        .name {
            order: 2;
            flex: 1 1 30%;
            padding: 0 $space-3;
        }
        .price {
            order: 3;
            flex: 0 1 $cover-options-block-size-large*1.4;
        }
        .toggle-switch-wrap {
            order: 4;
            flex: 0 1 $cover-options-block-size-large*1.4;
        }
        .detail {
            order: 5;
            flex: 0 0 100%;
        }
    }
    @include breakpoint(large) {
    align-items: center;
    .price {
        text-align: left;
        margin-bottom: 0;
        height: $cover-options-block-size-large;
    }
    .toggle-switch-wrap {
        height: $cover-options-block-size-large;
    }
        .image {
            flex: 0 1 $cover-options-block-size-large;
        }
    }


}
