/* =======================================================
 * CONFIGURE
   ======================================================= */

$footer-background-color: $pewter-1 !default;
$footer-logo-height: $space-4 !default;

/* =======================================================
*/
footer,
.footer {
    background-color: $footer-background-color;
}
.footer-logo {
    text-align: center;
    @include breakpoint(medium) {
        text-align: left;
    }
    img {
        height: $footer-logo-height;
    }
}
