/* =======================================================
 * CONFIGURE
   ======================================================= */

$navigation-link-color: $pewter-5 !default;
$navigation-link-color-hover: $fuchsia-5 !default;
$navigation-accent-color: $fuchsia-4 !default;
$navigation-border: 1px solid $pewter-2 !default;

$topnav-height: $space-9 !default;
$topnav-margins: $space-4 !default;
$topnav-link-padding: $space-2 !default;

$topnav-logo-width: auto !default;
$topnav-logo-height: $topnav-margins !default;

$burger-width: $space-3 !default;
$burger-height: $space-2 !default;
$burger-color: $navigation-accent-color !default;
$burger-color-hover: $navigation-link-color-hover !default;

$sidenav-margins: $space-5 !default;

/* =======================================================
 */

.topnav,
.sidenav-head {
    height: $topnav-height;
    border-bottom: $navigation-border;
}
.topnav {
    // display: block;
    // justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 ($topnav-margins - $topnav-link-padding) 0 $topnav-margins;
}
.burger-menu,
.topnav-phone,
.topnav-help {
    flex: 0 0 auto;
}
.topnav-spacer {
    flex: 1 1 auto;
}
.sidenav-head {
    display: flex;
    justify-content: flex-end;
}
.burger-menu {
    @include hamburger($burger-color, $burger-color-hover, $burger-width, $burger-height, 2px, 3);
    &:focus {
        outline: none;
    }
}
.topnav-logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $topnav-height;
    padding: 0 $topnav-margins + ($burger-width*2);
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(medium only) {
        justify-content: flex-start;
    }
}
.topnav-logo {
    & img {
        width: $topnav-logo-width;
        height: $topnav-logo-height;
    }
}
.topnav-phone,
.topnav-help {
    position: relative;
    padding: 0 $topnav-link-padding;
    font-size: 15px;
    color: $navigation-link-color;
    &::before {
        @extend .material-icons;
        color: $navigation-accent-color;
        line-height: inherit;
        vertical-align: middle;
        position: relative;
        top: -1px;
        margin-right: $space-1;
    }
    &:hover,
    &:focus {
        color: $navigation-link-color-hover;
        text-decoration: none;
    }
}
.topnav-phone::before {
    content: 'phone';
}
.topnav-help {
    &::before {
        content: 'help_outline';
    }
    @include breakpoint(medium){
        border-left: $navigation-border;
    }
}



.sidenav-links {
    padding: 0 $sidenav-margins;
    & > li {
        margin-bottom: 0;
        border-bottom: $navigation-border;
        & a {
            height: $topnav-height;
            display: flex;
            color: $navigation-link-color;
            align-items: center;
            transition: transform 200ms ease;
            &:hover {
                transform: translateX($space-1);
                color: $navigation-link-color-hover;
                text-decoration: none;
            }
        }
    }
}

.offscreen-margins {
    padding-left: $sidenav-margins;
    padding-right: $sidenav-margins
}


.eighty-percent {
    width: 100%;
    transform: translateX(100%);

    // transition-duration: 0.8s;
    // transition-timing-function: ease;
    &.is-open ~ .off-canvas-content.is-open-right.has-transition-push {
            transform: translateX(-100%);
            // transition-duration: 0.8s;
            // transition-timing-function: ease;
        @include breakpoint(medium) {
                    transform: translateX(-80%);
        }
    }
    @include breakpoint(medium) {
        width: 80%;

    }
}
