


.show-hide-control {
    @extend %text-icon-button;
    font-size: inherit;
    padding: $space-2 0;
    &::after {
        content: 'keyboard_arrow_down';
        transition: transform 0.2s ease;
        transform-origin: center;

    }
    &.is-open {
        &::after {
            transform: rotateX(180deg);
        }
    }

}
.show-hide-panel {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s ease;
    &.is-open {
        max-height: 2000px;
    }
}
