/* =======================================================
 * CONFIGURE
   ======================================================= */

/* config in Foundation _settings.scss -> 50. Table */


/* =======================================================
 */


table.striped tbody tr {
    &:nth-child(#{$table-stripe}) {
        border-bottom: $table-border;
    }

}
@include breakpoint(small only) {
    table.stack tr {
        padding: $table-padding/2 0;
        td {
            padding: $table-padding/2 $table-padding;
        }
        &:nth-child(#{$table-stripe}) {
            background-color: $table-striped-background;

        }
        &:last-child {
            border-bottom: 0;
        }
    }

}
