/* =======================================================
 * CONFIGURE
   ======================================================= */

/* More config in Foundation _settings.scss -> 51. Tabs */
$tab-border-top: 1px solid $pewter-2 !default;

$tab-active-border-color: $tangerine-3 !default;
$tab-active-border-width: 4px !default;

$tab-height-small: $space-6 !default;
$tab-horizontal-padding-small: $space-2 !default;

$tab-gutters-medium: $space-7 !default;


/* =======================================================
 */

ul.tabs {
    @extend .no-bullet;
}
.tabs-wrap {
    text-align: center;
    border-top: $tab-border-top;
    .tabs {
        display: inline-block;
    }
}
.tabs {
    @include breakpoint(small only) {
        @include tabs-container-vertical;
    }
    width: 100%;
    text-align: left;
    li {
        margin: 0;
        border-left: $tab-active-border-width solid transparent;
        transition: border-color 0.2s ease;

        &.is-active {
             border-color: $tab-active-border-color;
        }
        a {
            line-height: 1;
            padding: ($tab-height-small - $tab-item-font-size)/2 $tab-horizontal-padding-small ;
            &:focus,
            &:hover {
                outline: none;
                text-decoration: none;
            }
        }
    }
    @include breakpoint(medium) {
        width: auto;
        text-align: center;
        li {
            margin: 0 $tab-gutters-medium/2;
            border-left: none;
            border-top: $tab-active-border-width solid transparent;
            a {
                padding: $tab-item-padding;
            }
        }

    }
}
