/* =======================================================
 * CONFIGURE
   ======================================================= */

/* Styles inherited from navigation */

/* =======================================================
*/

.trowser-head {
    height: $topnav-height;
    border-bottom: $navigation-border;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trowser-title {
    color: $heading-accent-color;
}
