{% extends "layouts/_main.njk" %}


{% block content %}
{% include "components/_side-nav.njk" %}
{% include "components/_help.njk" %}
{% include "components/_trowser.njk" %}
<div class="off-canvas-content" data-off-canvas-content>
    {% include "components/_top-nav.njk" %}

    {% include "components/_cover-person.njk" %}
    {% include "components/_question-box.njk" %}
    {% include "components/_included-cover.njk" %}
    {% include "components/_agg-price.njk" %}

    <div class="row align-center">
        <div class="column small-12 p-t-4 m-b-6">
            {% include "components/_cover-options.njk" %}
        </div>
    </div>


    <div class="row align-center">
        <div class="column small-12 large-8 p-t-4">
            <button type="button" name="button" class="button secondary" data-toggle="trowser">Open trowser</button>

            {% include "components/_documents.njk" %}
            {% include "components/_tables.njk" %}
            {% include "components/_tabs.njk" %}
            {% include "components/_modal.njk" %}
            {% include "elements/_loading-spinner.njk" %}
            {% include "elements/_date-inputs.njk" %}
            {% include "elements/_progress-indicator.njk" %}
            {% include "elements/_range-selector.njk" %}
            {% include "elements/_slider.njk" %}
            {% include "elements/_tooltip.njk" %}
            {% include "elements/_messaging.njk" %}
            {% include "elements/_forms.njk" %}
            {% include "identity/_logos.njk" %}
            {% include "identity/_typography.njk" %}
            {% include "identity/_icons.njk" %}


        </div>
    </div>
    {% include "components/_price-comparison-table.njk" %}
    {% include "elements/_loading-page.njk" %}

    {% include "identity/_grid.njk" %}
    {% include "components/_total-price.njk" %}
    {% include "components/_footer.njk" %}
    {% include "components/_sticky-total.njk" %}
</div>

{% endblock %}
