
<div class="row align-center m-v-gutter-3">
    <div class="columns small-12 medium-8">
        <h3>Buttons</h3>
<div class="m-b-6">

    <a class="button primary" href="#">Primary</a>
    <a class="button secondary" href="#">Secondary</a>
    <a class="button tertiary" href="#">Tertiary</a>


    <a class="button primary" href="#" disabled>Primary</a>
    <a class="button secondary" href="#" disabled>Secondary</a>
    <a class="button tertiary" href="#" disabled>Tertiary</a>

</div>

<p>Select a maintenance drone</p>
<div class="toggle-wrap m-b-6">

        <input type="radio" id="huey" name="drone" checked />
        <label for="huey">Huey</label>

        <input type="radio" id="dewey" name="drone" />
        <label for="dewey">Dewey</label>

        <input type="radio" id="louie" name="drone" />
        <label for="louie">Louie</label>


</div>


<p>Delete all files?</p>

<div class="toggle-wrap m-b-6">

        <input type="radio" id="yes" name="binary" checked />
        <label for="yes">Yes</label>

        <input type="radio" id="no" name="binary" />
        <label for="no">no</label>


</div>


<p>Select a fruit</p>

<div class="choice-wrap m-b-6">

        <input type="radio" id="apple" name="fruit" checked />
        <label for="apple">Apple</label>

        <input type="radio" id="orange" name="fruit" />
        <label for="orange">Orange</label>

        <input type="radio" id="banana" name="fruit"/>
        <label for="banana">Banana</label>

</div>


<p>Select your size</p>

<div class="choice-wrap row m-b-6">
    <div class="small-6 medium-4 columns">
        <input type="radio" id="xsmall" name="sizes"/>
        <label for="xsmall">Very small</label>
    </div>

    <div class="small-6 medium-4 columns">
        <input type="radio" id="small" name="sizes" />
        <label for="small">Small</label>
    </div>

    <div class="small-6 medium-4 columns">
        <input type="radio" id="medium" name="sizes" />
        <label for="medium">Medium</label>
    </div>

    <div class="small-6 medium-4 columns">
        <input type="radio" id="large" name="sizes"/>
        <label for="large">Large</label>
    </div>
    <div class="small-6 medium-4 columns">
        <input type="radio" id="xlarge" name="sizes" disabled/>
        <label for="xlarge">Extra large</label>
    </div>

</div>

<p>Select all the meals you want</p>

<div class="choice-wrap m-b-6">

        <input type="checkbox" id="breakfast" name="meals" />
        <label for="breakfast">breakfast</label>

        <input type="checkbox" id="brunch" name="meals" />
        <label for="brunch">brunch</label>

        <input type="checkbox" id="lunch" name="meals" />
        <label for="lunch">Lunch</label>

        <input type="checkbox" id="dinner" name="meals" disabled/>
        <label for="dinner">Dinner</label>

</div>


<p>Select a payment type</p>
<div class="choice-wrap large row">

    <div class="small-12 medium-6 columns">
        <input type="radio" id="card" name="payment"/>
        <label for="card">
            <img src="https://via.placeholder.com/64x64">
            <strong class="block">Option 2</strong>
            <span class="block">Card</span>
        </label>
    </div>

    <div class="small-12 medium-6 columns">
        <input type="radio" id="paypal" name="payment" />
        <label for="paypal">
            <img src="https://via.placeholder.com/64x64">
            <strong class="block">Option 2</strong>
            <span class="block">PayPal</span>
            <span class="block">third line</span>
        </label>
    </div>

</div>

    </div>
</div>
<div class="row align-center m-v-gutter-3">
    <div class="columns small-12 medium-8">
        
<fieldset>
    <legend>Choose Your Favorite</legend>
    <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Red</label>
    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue, if a radio has avery very long lable will the words wrap in the right placeand will the circle still look right?</label>
    <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow" disabled><label for="pokemonYellow">Disabled Yellow</label>
</fieldset>

<fieldset>
    <legend>Check these out</legend>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
    <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    <input id="checkbox3" type="checkbox"disabled><label for="checkbox3">Disabled Checkbox 3</label>
</fieldset>

    </div>
</div>

<div class="row align-center m-v-gutter-3">
    <div class="columns small-12 medium-8">
        <h3>toggle stwich</h3>
<label for="toggle1">Toggle switch label</label>
<input id="toggle1" type="checkbox" class="toggle-switch"><label for="toggle1"></label>
<h3>toggle stwich large</h3>
<label for="toggle2">Toggle switch label</label>
<input id="toggle2" type="checkbox" class="toggle-switch large"><label for="toggle2"></label>

    </div>
</div>


<div class="row align-center m-v-gutter-3">
    <div class="columns small-12 medium-8">
        <h3>Text inputs</h3>

<div class="form-group">
    <label>Text input label</label>
    <input type="text" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
<div class="form-group is-invalid">
    <label>Text input label</label>
    <input type="text" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
<div class="form-group is-valid">
    <label>Text input label</label>
    <input type="text" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>


<div class="form-group">
    <label>Textarea input label</label>
    <textarea placeholder="None"></textarea>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
<div class="form-group is-invalid">
    <label>Textarea input label</label>
    <textarea placeholder="None"></textarea>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
<div class="form-group is-valid">
    <label>Textarea input label</label>
    <textarea placeholder="None"></textarea>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>


<div class="form-group password-wrap">
    <label class="password-label">Password input label</label>
    <button type="button" name="show-pass" class="material-icons">remove_red_eye</button>
    <input type="password" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>

<div class="form-group password-wrap is-invalid">
    <label class="password-label">Password input label</label>
    <button type="button" name="show-pass" class="material-icons">remove_red_eye</button>
    <input type="password" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>

<div class="form-group password-wrap is-valid">
    <label class="password-label">Password input label</label>
    <button type="button" name="show-pass" class="material-icons">remove_red_eye</button>
    <input type="password" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>

        <h3>Number inputs</h3>

<div class="form-group">
    <label>How many puppies?</label>
    <div class="stepper-wrap form-input-layout">
        <input type="number" value="90"  min="0" max="100" step="5">
        <button type="button" name="step-up" class="material-icons">arrow_drop_up</button>
        <button type="button" name="step-down" class="material-icons">arrow_drop_down</button>
    </div>

    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
</div>

<div class="form-group is-invalid">
    <label>How many puppies?</label>
    <div class="stepper-wrap form-input-layout">
        <input type="number" value="90"  min="0" max="100" step="5">
        <button type="button" name="step-up" class="material-icons">arrow_drop_up</button>
        <button type="button" name="step-down" class="material-icons">arrow_drop_down</button>
    </div>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
</div>

<div class="form-group is-valid">
    <label>How many puppies?</label>
    <div class="stepper-wrap form-input-layout">
        <input type="number" value="90"  min="0" max="100" step="5">
        <button type="button" name="step-up" class="material-icons">arrow_drop_up</button>
        <button type="button" name="step-down" class="material-icons">arrow_drop_down</button>
    </div>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
</div>

        
<div class="form-group">
    <label>Select menu</label>
    <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
    </select>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>

<div class="form-group is-invalid">
    <label>Select menu</label>
    <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
    </select>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>

<div class="form-group is-valid">
    <label>Select menu</label>
    <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
    </select>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>


    </div>
</div>





<div class="form-group">
    <label>label text</label>
    <input type="text" placeholder="placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">error text</span>
    
</div>


