@function toRGB ($color) {
    @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

$fuchsia-1: #F7E7F1;
$fuchsia-2: #D073AB;
$fuchsia-3: #A20067;
$fuchsia-4: #7B014B;
$fuchsia-5: #4D002F;

$tangerine-1: #FBE5B3;
$tangerine-2: #FB8F3C;
$tangerine-3: #EA6A19;
$tangerine-4: #D23707;
$tangerine-5: #A92800;

$pewter-1: #F7F8F8;
$pewter-2: #D4D5D5;
$pewter-3: #B1B3B3;
$pewter-4: #616262;
$pewter-5: #212121;

$indigo-1: #EAE9EF;
$indigo-2: #9A94AF;
$indigo-3: #211551;
$indigo-4: #19103B;
$indigo-5: #0F0A25;

$cobalt-1: #B9CEE2;
$cobalt-2: #8BADCF;
$cobalt-3: #004C97;
$cobalt-4: #19386D;
$cobalt-5: #0D2345;

$sky-1: #E7F7FB;
$sky-2: #73CCED;
$sky-3: #00A3E0;
$sky-4: #2E77A1;
$sky-5: #1A4B64;

$plum-1: #F2EBF1;
$plum-2: #B48CAE;
$plum-3: #72246C;
$plum-4: #56214E;
$plum-5: #371531;


$error: #BF0711; // Error
$warning: #FFC000; // Warning
$information: #004C97; // Information
$confirmation: #50B83C; // Confirmation

$white: #fefefe;
$black: $pewter-5;

$colors: (
    fuchsia-1: $fuchsia-1,
    fuchsia-2: $fuchsia-2,
    fuchsia-3: $fuchsia-3,
    fuchsia-4: $fuchsia-4,
    fuchsia-5: $fuchsia-5,

    tangerine-1: $tangerine-1,
    tangerine-2: $tangerine-2,
    tangerine-3: $tangerine-3,
    tangerine-4: $tangerine-4,
    tangerine-5: $tangerine-5,

    pewter-1: $pewter-1,
    pewter-2: $pewter-2,
    pewter-3: $pewter-3,
    pewter-4: $pewter-4,
    pewter-5: $pewter-5,

    indigo-1: $indigo-1,
    indigo-2: $indigo-2,
    indigo-3: $indigo-3,
    indigo-4: $indigo-4,
    indigo-5: $indigo-5,

    cobalt-1: $cobalt-1,
    cobalt-2: $cobalt-2,
    cobalt-3: $cobalt-3,
    cobalt-4: $cobalt-4,
    cobalt-5: $cobalt-5,

    sky-1: $sky-1,
    sky-2: $sky-2,
    sky-3: $sky-3,
    sky-4: $sky-4,
    sky-5: $sky-5,

    plum-1: $plum-1,
    plum-2: $plum-2,
    plum-3: $plum-3,
    plum-4: $plum-4,
    plum-5: $plum-5,

    error: $error,
    warning: $warning,
    information: $information,
    confirmation: $confirmation,

    white: $white

);
