//  Pebbles specific Settings
//  -----------------------------
//
//  Table of Contents:
//  IDENTIDY
//  Most Identity settings are defined in the foundation settings file
//   1. Typography
//
//  ELEMENTS
//   2. buttons
//   3. loading-spinner
//   4. toggle
//   5. forms
//   6. lists
//   7. dash
//   8. checkbox-radio
//   9. toggle-switch
//  10. choice-buttons
//  11. stepper
//  12. messaging
//  13. tooltip
//  14. slider
//  15. range-selector
//  16. progress-indicator
//  17. date-picker
//
//  COMPONETS
//  18. navigation (header, sidemenu and help)
//  19. footer
//  20. modal
//  21. tabs
//  21. tables
//  22. price comparison table
//  23. trowser
//  24. documents
//  25. cover options
//  26. agg price
//  27. included cover
//  28. total price
//  29. question box
//  30. sticky total
//  31. cover person


/* ==================================================== */
//  IDENTIDY
/* ==================================================== */

//   1. Typography
// ---
$small-paragraph-size: 14px;
$small-paragraph-line-height: 1.5;
$heading-accent-color: $sky-5;

/* ==================================================== */
//  ELEMENTS
/* ==================================================== */

//   2. buttons
// ---
$button-border-width: 1px;
$button-radius: $space-1/2;

$button-primary-background: $sky-2;
$button-primary-text: $sky-5;
$button-primary-border: transparent;
$button-primary-hover-amount: 30%;

$button-secondary-background: $sky-1;
$button-secondary-text: $sky-5;
$button-secondary-border: $sky-2;
$button-primary-hover-amount: 40%;

$button-tertiary-background: $white;
$button-tertiary-text: $pewter-4;
$button-tertiary-border: $pewter-3;
$button-primary-hover-amount: 50%;

$button-disabled-background: $pewter-2;
$button-disabled-text: $pewter-4;
$button-disabled-border:$pewter-4;

$button-form-background: $white;
$button-form-text: $sky-4;
$button-form-border: $button-form-text;

$text-icon-button-text: $pewter-5;
$text-icon-button-size: 15px;
$text-icon-button-icon-color: $fuchsia-4;
$text-icon-button-icon-gap: $space-1/2;
$text-icon-button-text-hover:$fuchsia-5;

$button-small-padding: 0.858em 0.608em;

//   3. loading-spinner
// ---
$loading-spinner-size-large: 44px;
$loading-spinner-size-regular: 20px;

$loading-spinner-color: $sky-3;
$loading-spinner-color-loading: $sky-5;

$loading-spinner-rotation-speed: 0.8s;
$loading-spinner-circle-percentage: 0.66;

//   4. toggle
// ---
// Configured in buttons.scss

//   5. forms
// ---
// mostly configured in settings.scss
$form-feild-height: 46px;
$form-feild-margin: $space-1;
$dropdown-icon-color: $sky-3;

/* Chrome dosnt like hex values in inline-background image svgs. */
$dropdown-icon-rgb: toRGB($dropdown-icon-color);


//   6. lists
// ---
/* space to the left of a list */
$list-m-spacing: 28px;

/* space below a list */
$list-p-spacing: 15px;

/* bullets */
$bullet-size: 8px;
$bullet-vertical-pos: 10px;
$bullet-color: $sky-3;

//   7. dash
// ---
$dash-width: $space-4;

//   8. checkbox-radio
// ---
/* sizing */
$check-radio-size: 24px;
$radio-dot-size: 16px;
$check-tick-size: 20px;
$check-radio-gap: 12px;

/* colors */
$check-radio-color: $pewter-3;
$check-radio-color-active: $sky-3;
$check-radio-color-disabled: $pewter-2;

//   9. toggle-switch
// ---
/* regular size */
$toggle-width: 46px;
$toggle-height: 26px;
$toggle-gap: 2px;
$toggle-tick-size: 18px;

$toggle-color-on: $sky-5;
$toggle-color-off: $pewter-2;

/* large size */
$toggle-width-large: 70px;
$toggle-height-large: 40px;
$toggle-gap-large: 3px;
$toggle-tick-size-large: 24px;

$toggle-color-on-large: $sky-3;
$toggle-color-off-large: $pewter-2;

//  10. choice-buttons
// ---
$button-choice-background: $white;
$button-choice-border: $pewter-3;
$button-choice-text: $pewter-5;

$button-choice-border-hover: $sky-2;

$button-choice-text-active: $sky-5;
$button-choice-background-active: $sky-1;

$button-choice-background-disabled: $white;
$button-choice-text-disabled: $pewter-2;
$button-choice-border-disabled: $button-choice-text-disabled;

//  11. stepper
// ---
// configured in forms

//  12. messaging
// ---
/* sizes */
$message-icon-size: 24px;
$message-close-button-size: $space-6;
$message-close-icon-size: 18px;
$message-border-size: 3px;

/* colors */
$message-confirm-color: $confirmation;
$message-confirm-color-background: mix($message-confirm-color, $white, 10%);

$message-info-color: $sky-3;
$message-info-color-background: $sky-1;

$message-warning-color: $warning;
$message-warning-color-background: mix($warning, $white, 10%);

$message-error-color: $error;
$message-error-color-background: mix($error, $white, 5%);

//  13. tooltip
// ---
$tooltip-border-width: 2px;
$tooltip-border-color: $sky-2;

$speech-bubble-border-color: $pewter-3;
$speech-bubble-pip-width: $space-2*0.75;

$speech-bubble-background-color: $pewter-1;
$speech-bubble-border-width: 1px;

//  14. slider
// ---
$slider-handel-border-size: 1px;
$slider-handel-border-color: $pewter-3;

$slider-handel-background-color-hover: $sky-1;
$slider-handel-border-color-hover: $sky-3;

//  15. range-selector
// ---
// configured in forms

//  16. progress-indicator
// ---
$progress-indicator-color: $pewter-2;
$progress-indicator-color-done: $confirmation;
$progress-indicator-color-current-background: mix($progress-indicator-color-done, $white, 10%);


//  17. date-picker
// ---
/* dropdown*/
$datepicker-font-size: 16px;
$day-width: $space-5;
$month-width: $day-width * 7;

$datepicker-text-color: $pewter-5;
$datepicker-text-color-other-month: $pewter-3;
$datepicker-background-color-other-month: $pewter-1;
$day-selected-background: $fuchsia-4;
$day-selected-text: $white;
$today-color: $sky-1;
$day-hover: $fuchsia-2;

/* inline */
$inline-datepicker-text-color: $white;
$inline-datepicker-background-color: $sky-4;
$inline-datepicker-cell-background-color: $white;
$inline-day-selected-background: $sky-2;
$inline-day-selected-text: $white;
$inline-day-hover: $sky-1;

$inline-datepicker-month-font-size: #{map-deep-get($header-styles, small, h5, font-size)}px;
$inline-datepicker-font-size: 14px;
$inline-day-height: $space-5;
$inline-wrapper-padding: $space-2;

$inline-month-width:100%;

$inline-datepicker-month-font-size-medium: #{map-deep-get($header-styles, medium, h4, font-size)}px;
$inline-datepicker-font-size-medium: 16px;
$inline-day-height-medium: $space-7;
$inline-wrapper-padding-medium: $space-4;

$inline-month-width-medium: $inline-day-height-medium*9;


/* ==================================================== */
//  COMPONENTS
/* ==================================================== */

//  18. navigation (header, sidemenu and help)
//---
$navigation-link-color: $pewter-5;
$navigation-link-color-hover: $fuchsia-5;
$navigation-accent-color: $fuchsia-4;
$navigation-border: 1px solid $pewter-2;

$topnav-height: $space-9;
$topnav-margins: $space-4;
$topnav-link-padding: $space-2;

$topnav-logo-width: auto;
$topnav-logo-height: $topnav-margins;

$burger-width: $space-3;
$burger-height: $space-2;
$burger-color: $navigation-accent-color;
$burger-color-hover: $navigation-link-color-hover;

$sidenav-margins: $space-5;


//  19. footer
//---
$footer-background-color: $pewter-1;
$footer-logo-height: $space-4;

//  20. modal
//---
$modal-padding: $space-9;
$modal-title-color: $sky-5;

//  21. tabs
//---
$tab-border-top: 1px solid $pewter-2;

$tab-active-border-color: $tangerine-3;
$tab-active-border-width: 4px;

$tab-height-small: $space-6;
$tab-horizontal-padding-small: $space-2;

$tab-gutters-medium: $space-7;

//  21. tables
//---
/* config in Foundation _settings.scss -> 50. Table */

//  22. price comparison table
//---
$price-comparison-text-color: $sky-5;
$price-card-border-width: 1px;
$price-card-border-color: $pewter-2;
$price-card-top-border: $sky-3;

$price-card-accent-0: $sky-2;
$price-card-accent-1: $sky-3;
$price-card-accent-2: $sky-4;
$price-card-accent-3: $price-comparison-text-color;

$popular-flag-size: 140px;
$popular-flag-background: $confirmation;
$popular-flag-text: $white;
$popular-flag-font-size: $small-paragraph-size;

$price-card-cta-height: $space-7;
$price-card-cta-font-size: 16px;
$price-card-cta-border-width: 2px;

$feature-icon-size: 18px;
$feature-tick-color: $confirmation;
$feature-cross-color: $error;

//  23. trowser
//---
/* Styles inherited from navigation */

//  24. documents
//---
/* uses existing framework classes */

//  25. cover options
//---
$cover-options-top-border: $price-card-top-border;
$cover-options-border-selected: $sky-3;
$cover-options-block-size-large: $space-12;
/* more in comparison table and toggle toggle-switch */

//  26. agg price
//---
$agg-price-background: $sky-1;
/* more in comparison table */

//  27. included cover
//---
/* configured in comparison table */

//  28. total price
//---
$total-price-background: $sky-1;

//  29. question box
//---
$question-box-img-max: 300px;

//  30. sticky total
//---
$sticky-total-background: $sky-1;
$sticky-total-border: 1px solid $pewter-2;

//  31. cover person
//---
$cover-person-flag-size: $popular-flag-size;
$cover-person-flag-font-size: $popular-flag-font-size;

$cover-person-yes-background: $popular-flag-background;
$cover-person-yes-text: $popular-flag-text;

$cover-person-no-background: $feature-cross-color;
$cover-person-no-text: $popular-flag-text;
