/**
 * Paths
 */
$imgPath:       '../assets/img/';
$fontPath:     'fonts/';
$icomoon-font-path: $fontPath;

$noto-font:"Noto Sans", sans-serif;
$avenir-font: "avenir", sans-serif;

$web-safe-font: Arial, Helvetica, sans-serif;
// $body-font-family: 'neuzeit_grotesk', #{ $web-safe-font };


$space-base: 8px;
$space-1: $space-base;
$space-2: $space-base*2;
$space-3: $space-base*3;
$space-4: $space-base*4;
$space-5: $space-base*5;
$space-6: $space-base*6;
$space-7: $space-base*7;
$space-8: $space-base*8;
$space-9: $space-base*9;
$space-10: $space-base*10;
$space-11: $space-base*11;
$space-12: $space-base*12;
