@each $color, $value in $colors {
     .bg-#{$color}{
         background-color: $value;
     }
     .text-#{$color}{
         color: $value;
     }
     .border-#{$color}{
         border-color: $value;
     }
}
