.block {
    display: block;
}
.row {
    padding-left: map-get($grid-column-gutter, small)/2;
    padding-right: map-get($grid-column-gutter, small)/2;
    @include breakpoint(medium) {
        padding-left: map-get($grid-column-gutter, medium);
        padding-right: map-get($grid-column-gutter, medium);
    }


}
.row .row {
    padding-left: 0;
    padding-right: 0;

}



@for $i from 0 through 12 {

    .m-#{$i} {
        margin: $space-base*$i;
    }
    .m-t-#{$i} {
        margin-top: $space-base*$i;
    }
    .m-b-#{$i} {
        margin-bottom: $space-base*$i;
    }
    .m-v-#{$i}{
        margin-top: $space-base*$i;
        margin-bottom: $space-base*$i;
    }
    .m-l-#{$i} {
        margin-left: $space-base*$i;
    }
    .m-r-#{$i} {
        margin-right: $space-base*$i;
    }
    .m-h-#{$i}{
        margin-left: $space-base*$i;
        margin-right: $space-base*$i;
    }

    .p-#{$i} {
        padding: $space-base*$i;
    }
    .p-t-#{$i} {
        padding-top: $space-base*$i;
    }
    .p-b-#{$i} {
        padding-bottom: $space-base*$i;
    }
    .p-v-#{$i}{
        padding-top: $space-base*$i;
        padding-bottom: $space-base*$i;
    }
    .p-l-#{$i} {
        padding-left: $space-base*$i;
    }
    .p-r-#{$i} {
        padding-right: $space-base*$i;
    }
    .p-h-#{$i}{
        padding-left: $space-base*$i;
        padding-right: $space-base*$i;
    }

}

@for $i from 1 through 3 {
    .m-t-gutter-#{$i} {
        margin-top: map-get($grid-column-gutter, small)*$i;
        @include breakpoint(medium) {
            margin-top: map-get($grid-column-gutter, medium)*$i;
        }
    }

    .m-b-gutter-#{$i} {
        margin-bottom: map-get($grid-column-gutter, small)*$i;
        @include breakpoint(medium) {
            margin-bottom: map-get($grid-column-gutter, medium)*$i;
        }
    }
    .m-v-gutter-#{$i}{
        margin-top: map-get($grid-column-gutter, small)*$i;
        margin-bottom: map-get($grid-column-gutter, small)*$i;
        @include breakpoint(medium) {
            margin-top: map-get($grid-column-gutter, medium)*$i;
            margin-bottom: map-get($grid-column-gutter, medium)*$i;
        }
    }
    .m-t-gutter-#{$i}-half {
        margin-top: map-get($grid-column-gutter, small)*($i + 0.5);
        @include breakpoint(medium) {
            margin-top: map-get($grid-column-gutter, medium)*($i + 0.5);
        }
    }

    .m-b-gutter-#{$i}-half {
        margin-bottom: map-get($grid-column-gutter, small)*($i + 0.5);
        @include breakpoint(medium) {
            margin-bottom: map-get($grid-column-gutter, medium)*($i + 0.5);
        }
    }
    .m-v-gutter-#{$i}-half {
        margin-top: map-get($grid-column-gutter, small)*($i + 0.5);
        margin-bottom: map-get($grid-column-gutter, small)*($i + 0.5);
        @include breakpoint(medium) {
            margin-top: map-get($grid-column-gutter, medium)*($i + 0.5);
            margin-bottom: map-get($grid-column-gutter, medium)*($i + 0.5);
        }
    }




    .p-t-gutter-#{$i} {
        padding-top: map-get($grid-column-gutter, small)*$i;
        @include breakpoint(medium) {
            padding-top: map-get($grid-column-gutter, medium)*$i;
        }
    }

    .p-b-gutter-#{$i} {
        padding-bottom: map-get($grid-column-gutter, small)*$i;
        @include breakpoint(medium) {
            padding-bottom: map-get($grid-column-gutter, medium)*$i;
        }
    }
    .p-v-gutter-#{$i}{
        padding-top: map-get($grid-column-gutter, small)*$i;
        padding-bottom: map-get($grid-column-gutter, small)*$i;
        @include breakpoint(medium) {
            padding-top: map-get($grid-column-gutter, medium)*$i;
            padding-bottom: map-get($grid-column-gutter, medium)*$i;
        }
    }
    .p-h-gutter-#{$i}{
        padding-left: map-get($grid-column-gutter, small)*$i;
        padding-right: map-get($grid-column-gutter, small)*$i;
        @include breakpoint(medium) {
            padding-left: map-get($grid-column-gutter, medium)*$i;
            padding-right: map-get($grid-column-gutter, medium)*$i;
        }
    }

    .p-t-gutter-#{$i}-half {
        padding-top: map-get($grid-column-gutter, small)*($i + 0.5);
        @include breakpoint(medium) {
            padding-top: map-get($grid-column-gutter, medium)*($i + 0.5);
        }
    }

    .p-b-gutter-#{$i}-half {
        padding-bottom: map-get($grid-column-gutter, small)*($i + 0.5);
        @include breakpoint(medium) {
            padding-bottom: map-get($grid-column-gutter, medium)*($i + 0.5);
        }
    }
    .p-v-gutter-#{$i}-half {
        padding-top: map-get($grid-column-gutter, small)*($i + 0.5);
        padding-bottom: map-get($grid-column-gutter, small)*($i + 0.5);
        @include breakpoint(medium) {
            padding-top: map-get($grid-column-gutter, medium)*($i + 0.5);
            padding-bottom: map-get($grid-column-gutter, medium)*($i + 0.5);
        }
    }
    .p-h-gutter-#{$i}-half {
        padding-left: map-get($grid-column-gutter, small)*($i + 0.5);
        padding-right: map-get($grid-column-gutter, small)*($i + 0.5);
        @include breakpoint(medium) {
            padding-left: map-get($grid-column-gutter, medium)*($i + 0.5);
            padding-right: map-get($grid-column-gutter, medium)*($i + 0.5);
        }
    }

}

.relative {
    position: relative;
}
