<p>The layout grid</p>

<div class="m-b-gutter-3 m-t-gutter-1 text-center">
    <div class="row column m-b-gutter-1">
            <span style="margin-right: 1em;"><span class="bg-fuchsia-2"style="height:0.8em; width:0.8em; display:inline-block;"></span> Gutters</span>
            <span><span class="bg-fuchsia-3"style="height:0.8em; width:0.8em; display:inline-block;"></span> Columns</span>
    </div>

    <div class="row bg-fuchsia-2 relative">

        {% for i in range(0, 12) %}
        <div class="columns small-3 medium-1">
            <div class="bg-fuchsia-3 demo-grid">
            </div>
        </div>
        {% endfor %}

    </div>

</div>
