{% set icons = [
    'person',
    'person_add',
    'flight',
    'hotel',
    'place',
    'done',
    'event',
    'event_available',
    'help',
    'history',
    'refresh',
    'home',
    'launch',
    'search',
    'settings',
    'call',
    'email',
    'add',
    'clear',
    'chevron_left',
    'chevron_right',
    'arrow_back',
    'arrow_forward',
    'arrow_upward',
    'arrow_downward',
    'create',
    'print',
    'lock',
    'devices',
    'laptop',
    'tablet',
    'phone_iphone'
] %}
<hr>
<h2>Icons</h2>
<div class="row">

{% for icon in icons %}
<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">{{ icon }}</p>
        <p>{{ icon }}</p>
</div>
{% endfor %}
</div>
<hr>
