
<fieldset>
    <legend>Choose Your Favorite</legend>
    <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Red</label>
    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue, if a radio has avery very long lable will the words wrap in the right placeand will the circle still look right?</label>
    <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow" disabled><label for="pokemonYellow">Disabled Yellow</label>
</fieldset>

<fieldset>
    <legend>Check these out</legend>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
    <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    <input id="checkbox3" type="checkbox"disabled><label for="checkbox3">Disabled Checkbox 3</label>
</fieldset>
