<h3>toggle stwich</h3>
<label for="toggle1">Toggle switch label</label>
<input id="toggle1" type="checkbox" class="toggle-switch"><label for="toggle1"></label>
<h3>toggle stwich large</h3>
<label for="toggle2">Toggle switch label</label>
<input id="toggle2" type="checkbox" class="toggle-switch large"><label for="toggle2"></label>
