<div class="row align-center m-t-6 m-b-6">

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card person">
            <div class="top">
                <p class="heading-accent m-b-3"><strong>TRAVELER 1</strong></p>
                <h3 class="heading-accent m-b-2">Katherine Fisher</h3>
                <h3 class="h1 heading-accent m-b-4"><strong>£14.99</strong></h3>
                <div class="conditions text-left p-b-2">
                    <p class="p">Conditions</p>
                    <ul class="no-bullet">
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                    </ul>
                </div>
            </div>

            <div class="bottom p-t-4 p-b-4">
                <div class="toggle-wrap">

                        <input type="radio" id="person01coverYes" name="person01cover"/>
                        <label for="person01coverYes">Add cover</label>

                        <input type="radio" id="person01coverNo" name="person01cover" />
                        <label for="person01coverNo">No cover</label>

                </div>
            </div>

        </div>

    </div>

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card person covered">
            <div class="top">
                <p class="heading-accent m-b-3"><strong>TRAVELER 2</strong></p>
                <h3 class="heading-accent m-b-2">Julie Hudson</h3>
                <h3 class="h1 heading-accent m-b-4"><strong>£14.99</strong></h3>
                <div class="text-left p-b-2">
                    <p class="p">Conditions covered</p>
                    <ul class="no-bullet conditions">
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                    </ul>
                </div>
            </div>

            <div class="bottom p-t-4 p-b-4">
                <div class="toggle-wrap">

                        <input type="radio" id="person02coverYes" name="person02cover" checked/>
                        <label for="person02coverYes">Covered</label>

                        <input type="radio" id="person02coverNo" name="person02cover" />
                        <label for="person02coverNo">No cover</label>

                </div>
            </div>

        </div>

    </div>

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card person not-covered">
            <div class="top">
                <p class="heading-accent m-b-3"><strong>TRAVELER 3</strong></p>
                <h3 class="heading-accent m-b-2">Andrew Carpenter</h3>
                <h3 class="h1 heading-accent m-b-4"><strong>£14.99</strong></h3>
                <div class="text-left p-b-2">
                    <p class="p">Conditions not covered</p>
                    <ul class="no-bullet conditions">
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                        <li class="heading-accent"><strong>Osteoporosis</strong></li>
                    </ul>
                </div>
            </div>

            <div class="bottom p-t-4 p-b-4">
                <div class="toggle-wrap">

                        <input type="radio" id="person03coverYes" name="person03cover"/>
                        <label for="person03coverYes">Covered</label>

                        <input type="radio" id="person03coverNo" name="person03cover" checked/>
                        <label for="person03coverNo">Not covered</label>

                </div>
            </div>

        </div>

    </div>


</div>
