<div class="row align-center">
    <div class="small-12 medium-10 columns">

        <div class="text-center p-t-9 p-b-9">

            <img class="m-b-3 question-box-img" src="https://via.placeholder.com/100x100">
            <h2 class="heading-accent m-b-3">Title or question in H2</h2>
            <p>Can be normal text <a href="">or explanation link like this one</a></p>

        </div>

    </div>
</div>
