<!doctype html>
	<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
	<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
	<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
	<!--[if IE 9]><html class="no-js ie9 oldie" lang="en"><![endif]-->
	<!--[if IE 10]><html class="no-js ie10 oldie" lang="en"><![endif]-->
	<!--[if gt IE 10]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Pebbles</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" >
	<!-- Styles -->
	<link href="http://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="main.css" >
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg==" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.19.0/jquery.daterangepicker.min.js" crossorigin="anonymous"></script>

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<html>
<body>

{% block content %}
This is the default content
{% endblock %}





<!-- Javascript -->

{# <script type="text/javascript" src="js/vendor.js"></script> #}
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
