<div class="row align-center">

    <div class="small-12 large-8 columns">

        <div class="price-card agg">

            <div class="half colored">
                <h5 class="grade"><strong>STANDARD</strong></h5>
                <div class="price">
                    <span class="amount">£14.99</span>
                    <span class="per">per policy</span>
                </div>
                <a href="#" class="button primary">Continue with this cover</a>
            </div>

            <div class="half">

                <div class="price-card-features">
                    <div class="feature tick"><strong>£75 excess</strong> (for all unless stated)</div>
                    <div class="feature tick"><strong>£10m</strong> medical</div>
                    <div class="feature tick"><strong>£1.5k</strong> cancelation</div>
                    <div class="feature tick"><strong>£2k</strong> luggage</div>
                    <div class="feature tick"><strong>£400k</strong> personal money</div>
                    <div class="feature cross">Personal accident</div>
                </div>

            </div>

        </div>

    </div>
</div>
