<div class="row">

    <div class="small-12 columns">

        <div class="price-card cover show-hide-wrap m-b-3 is-selected">

                <div class="image show-for-medium flex-container align-middle">
                    <img class="selected" src="https://via.placeholder.com/100x100/E7F7FB/1A4B64?text=A" alt="">
                    <img class="not-selected" src="https://via.placeholder.com/100x100?text=B" alt="">
                </div>
                <div class="hide-for-medium small-12">
                    <p class="heading-accent"><strong>LEGAL EXPENSES</strong></p>
                </div>
                <div class="heading-accent price">
                    
                    <span class="amount">FREE</span>
                </div>
                <div class="toggle-switch-wrap text-center">
                    <label>Included</label>
                    <span class="toggle-switch-tick-only"></span>
                </div>
                <div class="name">
                    <p class="heading-accent show-for-medium"><strong>LEGAL EXPENSES</strong></p>
                    <p class="show-for-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button type="button" name="showHide" class="show-hide-control hide-for-large">View detail</button>
                </div>
                <div class="detail show-hide-panel hide-for-large">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

        </div>

        <div class="price-card cover show-hide-wrap m-b-3" id="coverCard1" data-toggler=".is-selected">

                <div class="image show-for-medium flex-container align-middle">
                    <img class="selected" src="https://via.placeholder.com/100x100/E7F7FB/1A4B64?text=A" alt="">
                    <img class="not-selected" src="https://via.placeholder.com/100x100?text=B" alt="">
                </div>
                <div class="hide-for-medium small-12">
                    <p class="heading-accent"><strong>SPORTS & ACTIVITIES</strong></p>
                </div>
                <div class="heading-accent price">
                    <label>From</label>
                    <span class="amount">£9.99</span>
                </div>
                <div class="toggle-switch-wrap text-center">
                    <label>Add cover</label>
                    <input id="cover1" type="checkbox" class="toggle-switch large"><label for="cover1"  data-toggle="coverCard1"></label>
                </div>
                <div class="name">
                    <p class="heading-accent show-for-medium"><strong>SPORTS & ACTIVITIES</strong></p>
                    <p class="show-for-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button type="button" name="showHide" class="show-hide-control hide-for-large">View detail</button>
                </div>
                <div class="detail show-hide-panel hide-for-large">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

        </div>




    </div>
</div>
