<div class="off-canvas position-right eighty-percent flex-container flex-dir-column" id="trowser" data-off-canvas>
    <!-- Your menu or Off-canvas content goes here -->
    <div class="trowser-head offscreen-margins">
        <p class="trowser-title m-b-0"><strong>COVER OPTIONS</strong></p>
        <button type="button" name="button" class="close-button position-unset" data-close>Close</button>
    </div>

    <div class="offscreen-margins flex-child-grow flex-container align-center-middle text-center">

        <h2>Trowser content</h2>

    </div>

</div>
