/* =======================================================
 * CONFIGURE
   ======================================================= */

$button-border-width: 1px !default;
$button-radius: $space-1/2 !default;

$button-primary-background: $sky-2 !default;
$button-primary-text: $sky-5 !default;
$button-primary-border: transparent !default;
$button-primary-hover-amount: 30% !default;

$button-secondary-background: $sky-1 !default;
$button-secondary-text: $sky-5 !default;
$button-secondary-border: $sky-2 !default;
$button-primary-hover-amount: 40% !default;

$button-tertiary-background: $white !default;
$button-tertiary-text: $pewter-4 !default;
$button-tertiary-border: $pewter-3 !default;
$button-primary-hover-amount: 50% !default;

$button-disabled-background: $pewter-2 !default;
$button-disabled-text: $pewter-4 !default;
$button-disabled-border:$pewter-4 !default;

$button-form-background: $white !default;
$button-form-text: $sky-4 !default;
$button-form-border: $button-form-text !default;

$text-icon-button-text: $pewter-5 !default;
$text-icon-button-size: 15px !default;
$text-icon-button-icon-color: $fuchsia-4 !default;
$text-icon-button-icon-gap: $space-1/2 !default;
$text-icon-button-text-hover:$fuchsia-5 !default;

$button-small-padding: 0.858em 0.608em !default;

/* =======================================================
 */

.button,
button {
    border-radius: $button-radius;
    font-weight: bold;
    width: 100%;
    @include breakpoint(medium) {
        width: auto;
    }

    &.primary {
        background-color: $button-primary-background;
        color: $button-primary-text;
        border: $button-border-width solid $button-primary-border;
        &:hover,
        &:focus {
            background-color: mix($button-primary-background, $white, $button-primary-hover-amount);
            border-color:  mix($button-primary-border, $white, $button-primary-hover-amount);
        }
    }
    &.secondary {
        background-color: $button-secondary-background;
        color: $button-secondary-text;
        border: $button-border-width solid $button-secondary-border;
        &:hover,
        &:focus {
            background-color: mix($button-secondary-background, $white, $button-primary-hover-amount);
            border-color:  mix($button-secondary-border, $white, $button-primary-hover-amount);
        }
    }
    &.tertiary {
        background-color: $button-tertiary-background;
        color: $button-tertiary-text;
        border: $button-border-width solid $button-tertiary-border;
        &:hover,
        &:focus {
            background-color: mix($button-tertiary-background, $white, $button-primary-hover-amount);
            border-color:  mix($button-tertiary-border, $white, $button-primary-hover-amount);
        }
    }

    &.disabled,
    &[disabled] {

        &.primary,
        &.secondary,
        &.tertiary  {
            &,
            &:hover,
            &:focus {
                background-color: $button-disabled-background;
                color: $button-disabled-text;
                border: $button-border-width solid $button-disabled-border;
            }
        }

    }

}


%button-form {
    padding: $space-1 $space-3;
    background-color: $button-form-background;
    border: 1px solid $button-form-border;
    color: $button-form-text;
    font-weight: normal;
    transition: background-color 300ms ease,
                color 300ms ease;
}
%button-form-active {
    background-color: $button-form-text;
    color: $button-form-background;
}

%text-icon-button {
    color: $text-icon-button-text;
    font-weight: normal;
    font-size: $text-icon-button-size;
    &::after {
        @extend .material-icons;
        color: $fuchsia-4;
        display: inline-block;
        vertical-align: middle;
        line-height: inherit;
        margin-left: $space-1/2;
        position: relative;
        top: -1px;
    }
    &:focus{
        outline: none;
    }
    &:hover {
        cursor: pointer;
        color: $text-icon-button-text-hover;
    }
}
.close-button {
    @extend %text-icon-button;

    padding: $space-1 0;
    width: auto;
    &::after {
        content: 'close';

    }
    &.position-unset {
        position: unset;
    }
}
.button,
button {
    &.small {
        padding: $button-small-padding;
        line-height: 1;
    }
}
