/* =======================================================
 * CONFIGURE
   ======================================================= */

$dash-width: $space-4 !default;

 /* =======================================================
  */
  
.dash {
    border: none;
    display: inline-block;

    &:before {
        content: '';
        display: block;
        height: 3px;
        width: $dash-width;
        background-color: inherit;
        margin: auto;


    }
}
