/* =======================================================
 * CONFIGURE
   ======================================================= */

/* dropdown*/
$datepicker-font-size: 16px !default;
$day-width: $space-5 !default;
$month-width: $day-width * 7 !default;

$datepicker-text-color: $pewter-5 !default;
$datepicker-text-color-other-month: $pewter-3 !default;
$datepicker-background-color-other-month: $pewter-1 !default;
$day-selected-background: $fuchsia-4 !default;
$day-selected-text: $white !default;
$today-color: $sky-1 !default;
$day-hover: $fuchsia-2 !default;

/* inline */
$inline-datepicker-text-color: $white !default;
$inline-datepicker-background-color: $sky-4 !default;
$inline-datepicker-cell-background-color: $white !default;
$inline-day-selected-background: $sky-2 !default;
$inline-day-selected-text: $white !default;
$inline-day-hover: $sky-1 !default;

$inline-datepicker-month-font-size: #{map-deep-get($header-styles, small, h5, font-size)}px !default;
$inline-datepicker-font-size: 14px !default;
$inline-day-height: $space-5 !default;
$inline-wrapper-padding: $space-2 !default;

$inline-month-width:100% !default;

$inline-datepicker-month-font-size-medium: #{map-deep-get($header-styles, medium, h4, font-size)}px !default;
$inline-datepicker-font-size-medium: 16px !default;
$inline-day-height-medium: $space-7 !default;
$inline-wrapper-padding-medium: $space-4 !default;

$inline-month-width-medium: $inline-day-height-medium*9 !default;

/* =======================================================
*/

.date-picker {
  width: 170px;
  height: 25px;
  padding: 0;
  border: 0;
  line-height: 25px;
  padding-left: 10px;
  font-size: $datepicker-font-size;
  font-family: Arial, sans-serif;
  font-weight: normal;
  cursor: pointer;
  // color: #303030;
  position: relative;
  z-index: 2;
}

.date-picker-wrapper {
  position: absolute;
  z-index: 1;
  // border: 1px solid $pewter-3;
  background-color: $white;
  padding: 0;
  font-size: $datepicker-font-size;
  line-height: 20px;
  color: $pewter-5;
  font-family: Arial, sans-serif;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.dp-clearfix {
  clear: both;
  height: 0;
  font-size: 0;
}

.date-picker-wrapper {
  &.inline-wrapper {
    position: relative;
    box-shadow: none;
    display: inline-block;
  }
  &.single-date {
    width: auto;
  }
  &.no-shortcuts {
    // padding-bottom: 12px;
  }
  &.no-topbar {
    // padding-top: 12px;
  }
  .footer {
    font-size: 11px;
    // padding-top: 3px;
  }
  b {
    color: #666;
    font-weight: 700;
  }
  a {
    color: rgb(107, 180, 214);
    text-decoration: underline;
  }
  .month-name {
    text-transform: capitalize;
  }
  .select-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    &:hover {
      text-decoration: underline;
    }
  }
  .month-element {
    display: inline-block;
    vertical-align: middle;
  }
  .select-wrapper select {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: -1px;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-transform: inherit;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 0.01;
  }
  .month-wrapper {
    // border: 1px solid #bfbfbf;
    // border-radius: 3px;
    // background-color: #fff;
    // padding: 5px;
    // border: 1px solid $pewter-2;
    cursor: default;
    position: relative;
    overflow: hidden;
    table {
      width: $month-width;
      float: left;
      margin-bottom: 0;
      table-layout: fixed;


      &.month2 {
        width: $month-width;
        float: left;
      }
      thead {
          background-color: $white;
          border: 1px solid $pewter-2;
      }
      tbody {
          border: 1px solid $pewter-2;
      }
      tr {
          border: none;
      }
      th, td {
        vertical-align: middle;
        text-align: center;
        height: $day-width;
        // width:  $day-width;
        line-height: $day-width;
        margin: 0px;
        padding: 0px;
        font-weight: normal;
      }
      .day {
        padding: 0;
        height: $day-width;
        line-height: $day-width;
        font-size: $datepicker-font-size;
        // margin-bottom: 1px;
        color: #ccc;
        cursor: default;
      }
      div.day {
        &.lastMonth, &.nextMonth {
          color: $datepicker-text-color-other-month;
          background-color: $datepicker-background-color-other-month;
          cursor: default;
        }
      }
      .day.checked {
        background-color: $day-selected-background;
        color: $day-selected-text;
      }
      .week-name {
        height: $day-width;
        line-height: $day-width;
        // font-weight: 100;
        text-transform: capitalize;
      }
      .day.has-tooltip {
        cursor: help !important;
        .tooltip {
          white-space: nowrap;
        }
      }
    }
  }
  .time label {
    white-space: nowrap;
  }
  .month-wrapper table .day {
    &.toMonth {
      &.valid {
        color: $datepicker-text-color;
        cursor: pointer;
        &.checked {
            background-color: $day-selected-background;
            color: $day-selected-text;
        }
      }
      &.hovering {
        background-color: $day-hover;
      }
    }
    &.nextMonth, &.lastMonth {
      // display: none;
    }
    &.real-today {
      background-color: $today-color;
      &.checked, &.hovering {
        background-color: $day-hover;
      }
    }
  }
  table .caption {
    height: $day-width;
    > th {
      &:first-of-type, &:last-of-type {
        // width: $day-width;
      }
    }
    .next, .prev {
      padding: 0;
      height: $day-width;
      // width: $day-width;

      cursor: pointer;
      display: block;
      color: $sky-3;
      &::after {
          @extend .material-icons;
          display: block;
          line-height: $day-width;
          color: inherit;
      }
    }
    .next::after{
        content: 'arrow_forward';

    }
    .prev::after{
        content: 'arrow_back';
    }
    .next:hover, .prev:hover {
      background-color: $sky-3;
      color: $white;
    }
  }
  .gap {
    position: relative;
    z-index: 1;
    width: 4px;
    height: 100%;
    // background-color: red;

    font-size: 0;
    line-height: 0;
    float: left;
    top: -5px;
    margin: 0 10px -10px;
    margin-right: 8px;
    visibility: hidden;

    height: 0;
    .gap-lines {
      height: 100%;
      overflow: hidden;
      display: none;
    }
    .gap-line {
      height: 15px;
      width: 15px;
      position: relative;
      .gap-1 {
        z-index: 1;
        height: 0;
        border-left: 8px solid white;
        border-top: 8px solid #eee;
        border-bottom: 8px solid #eee;
      }
      .gap-2 {
        position: absolute;
        right: 0;
        top: 0px;
        z-index: 2;
        height: 0;
        border-left: 8px solid transparent;
        border-top: 8px solid white;
      }
      .gap-3 {
        position: absolute;
        right: 0;
        top: 8px;
        z-index: 2;
        height: 0;
        border-left: 8px solid transparent;
        border-bottom: 8px solid white;
      }
    }
    .gap-top-mask {
      width: 6px;
      height: 1px;
      position: absolute;
      top: -1px;
      left: 1px;
      background-color: #eee;
      z-index: 3;
    }
    .gap-bottom-mask {
      width: 6px;
      height: 1px;
      position: absolute;
      bottom: -1px;
      left: 7px;
      background-color: #eee;
      z-index: 3;
    }
  }
  .selected-days {
    display: none;
  }
  .drp_top-bar {
    line-height: 1.4;
    position: relative;
    padding: 10px 40px 10px 0;
    .error-top, .normal-top {
      display: none;
    }
    .default-top {
      display: block;
    }
    &.error {
      .default-top {
        display: none;
      }
      .error-top {
        display: block;
        color: red;
      }
    }
    &.normal {
      .default-top {
        display: none;
      }
      .normal-top {
        display: block;
        .selection-top {
          color: $datepicker-text-color;
        }
      }
    }
    .apply-btn {
      position: absolute;
      right: 0px;
      top: 6px;
      padding: 3px 5px;
      margin: 0;
      font-size: $datepicker-font-size;
      border-radius: 4px;
      cursor: pointer;
      color: #d9eef7;
      border: solid 1px #0076a3;
      background: #0095cd;
      background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
      background: -moz-linear-gradient(top, #00adee, #0078a5);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
      color: white;
      line-height: initial;
      &.disabled {
        cursor: pointer;
        color: #606060;
        border: solid 1px #b7b7b7;
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
        background: -moz-linear-gradient(top, #fff, #ededed);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
      }
    }
  }
  .time {
    position: relative;
  }
  &.single-month .time {
    display: block;
  }
  .time input[type=range] {
    vertical-align: middle;
    width: 129px;
    padding: 0;
    margin: 0;
    height: 20px;
  }
  .time1 {
    width: 180px;
    padding: 0 5px;
    text-align: center;
  }
}

/*time styling*/

.time2 {
  width: 180px;
  padding: 0 5px;
  text-align: center;
}

.date-picker-wrapper {
  .time1 {
    float: left;
  }
  .time2 {
    float: right;
  }
  .hour {
    text-align: right;
  }
}

.minute {
  text-align: right;
}

.date-picker-wrapper {
  .hide {
    display: none;
  }
  .first-date-selected, .last-date-selected {
    background-color: $day-selected-background !important;
    color: white !important;
  }
  .date-range-length-tip {
    position: absolute;
    margin-top: -4px;
    margin-left: -8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: none;
    background-color: yellow;
    padding: 0 6px;
    border-radius: 2px;
    font-size: $datepicker-font-size;
    line-height: 16px;
    -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    -moz-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    -ms-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    -o-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    &:after {
      content: '';
      position: absolute;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid yellow;
      left: 50%;
      margin-left: -4px;
      bottom: -4px;
    }
  }
  &.two-months.no-gap {
    .month1 .next, .month2 .prev {
      display: none;
    }
  }
  .week-number {
    padding: 5px 0;
    line-height: 1;
    font-size: $datepicker-font-size;
    // margin-bottom: 1px;
    color: $datepicker-text-color-other-month;
    cursor: pointer;
    &.week-number-selected {
      color: $day-selected-background;
      font-weight: bold;
    }
  }
}

.two-months {
    padding: $space-3;
     border: 1px solid $pewter-2;
     .month-wrapper {
        overflow: visible;
        margin-top: $space-3;
     }
     .month1:after {
        content: 'From:';
        display: block;
        position: absolute;
        top: -#{$space-4};
    }
    .month2:after {
       content: 'To:';
       display: block;
       position: absolute;
       top: -#{$space-4};
   }
}

.date-input {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'>
        <path d='M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z' fill='#{$dropdown-icon-rgb}'/>
        <path fill='none' d='M0 0h24v24H0z'/>
    </svg>");
    background-size: 24px;
    background-origin: content-box;
    background-position: right -1.5rem center;
    background-repeat: no-repeat;
    padding-right: 2.25rem;
}
.date-picker-wrapper.inline-wrapper {
      background-color: $inline-datepicker-background-color;
      font-size: $inline-datepicker-font-size;
      border-radius: $button-radius;
      @include breakpoint(medium) {
          font-size: $inline-datepicker-font-size-medium;
      }
      .month-wrapper table .day {
        &.toMonth {
          &.hovering {
            background-color: $inline-day-hover;
          }
        }
        &.real-today {
          background-color: $today-color;
          &.checked, &.hovering {
            background-color: $inline-day-hover;
          }
        }
      }
      .month-wrapper {
        // border: 1px solid #bfbfbf;
        // border-radius: 3px;
        // background-color: #fff;
        padding: $inline-wrapper-padding;
        cursor: default;
        position: relative;
        overflow: hidden;
        @include breakpoint(medium) {
            padding: $inline-wrapper-padding-medium;
        }
        .first-date-selected, .last-date-selected {
          background-color: $inline-day-selected-background !important;
          color: inherit !important;
        }

        table {
          width: $inline-month-width;
          @include breakpoint(medium) {
              width: $inline-month-width-medium;
          }

          &.month2 {
            width: $inline-month-width;
            float: left;
            @include breakpoint(medium) {
                width: $inline-month-width-medium;
            }
          }
          .month-name {
              font-size: $inline-datepicker-month-font-size;
              font-family: $noto-font;
              @include breakpoint(medium) {
                  font-size: $inline-datepicker-month-font-size-medium;
              }
          }
          thead {
              color: $inline-datepicker-text-color;
              background-color: $inline-datepicker-background-color;
              border: none;
          }
          tbody {


              td {
                 border: 1px solid $inline-datepicker-background-color;
              }
          }
          tr {
              border: none;
              background-color: $inline-datepicker-background-color;
          }
          th, td {
            height: $inline-day-height;
            // width:  $inline-day-height;
            line-height: $inline-day-height;
            @include breakpoint(medium) {
                height: $inline-day-height-medium;
                line-height: $inline-day-height-medium;
            }
          }
          .day {
            height: $inline-day-height;
            line-height: $inline-day-height;
            font-size: $inline-datepicker-font-size;
            background: $inline-datepicker-cell-background-color;
            @include breakpoint(medium) {
                height: $inline-day-height-medium;
                line-height: $inline-day-height-medium;
                font-size: $inline-datepicker-font-size-medium;
            }
          }
          div.day {
            &.lastMonth, &.nextMonth {
              display: none;
            }
          }
          .day.checked {
            background-color: $inline-day-selected-background;
            color: $inline-day-selected-text;
          }
          .week-name {
            height: $inline-day-height;
            line-height: $inline-day-height;
            @include breakpoint(medium) {
                height: $inline-day-height-medium;
                line-height: $inline-day-height-medium;
            }
          }
      }
      table .caption {
        height: $inline-day-height;
        > th {
          &:first-of-type, &:last-of-type {
            // width: $inline-day-height;
          }
        }
        .next, .prev {
          height: $inline-day-height;
          // width: $inline-day-height;
          color: $white;
          @include breakpoint(medium) {
              height: $inline-day-height-medium;
          }
          &::after {
              line-height: $inline-day-height;
              @include breakpoint(medium) {
                  line-height: $inline-day-height-medium;
              }
          }
        }

        .next:hover, .prev:hover {
          background-color: $white;
          color: $sky-4;
        }
      }
  }
}
