/* =======================================================
 * CONFIGURE
   ======================================================= */
/* space to the left of a list */
$list-m-spacing: 28px !default;

/* space below a list */
$list-p-spacing: 15px !default;

/* bullets */
$bullet-size: 8px !default;
$bullet-vertical-pos: 10px !default;
$bullet-color: $sky-3 !default;

/* =======================================================
 */


/*
 * common spacing
 */
ol, ul {
    margin-left: 0;
    list-style: none;
    & > li {
        margin-bottom: $list-p-spacing;
        padding-left: $list-m-spacing;
        position: relative;
        &:before {
            display: inline-block;
            position: absolute;
            left: 0;
        }
        & ol, ul {
            margin-top: $list-p-spacing;
            margin-left: 0;
        }
    }
}

/*
 * number list
 */
ol {
    counter-reset: custom-ol;
    & > li {
        counter-increment: custom-ol;
        &:before {
            content: counter(custom-ol) ". ";
            color: $bullet-color;
        }
        & ol {
            counter-reset: custom-ol-t2;

            > li {
                counter-increment: custom-ol-t2;
                &::before{
                    content: counter(custom-ol-t2, lower-alpha) ". ";
                }
            }
        }
    }
}

/*
 * custom bullets
 */

ul:not(.no-bullet) {
    & > li {
        &:before {
            content: '';
            width: $bullet-size;
            height: $bullet-size;
            top: $bullet-vertical-pos;
            border-radius: 50%;
            margin-right: $list-m-spacing - $bullet-size;
            background-color: $bullet-color;
        }
        & ul {
            > li {
                &::before {
                    background-color: transparent;
                    border: 1px solid $bullet-color;
                }
            }
        }
    }
}

ul.no-bullet > li {
    padding-left: 0;
    &::before {
        display: none;
    }
    & ul {
        > li {
            padding-left: 0;
            &::before {
                display: none;
            }
        }
    }
}
