/* =======================================================
 * CONFIGURE
   ======================================================= */

$loading-spinner-size-large: 44px !default;
$loading-spinner-size-regular: 20px !default;

$loading-spinner-color: $sky-3 !default;
$loading-spinner-color-loading: $sky-5 !default;

$loading-spinner-rotation-speed: 0.8s !default;
$loading-spinner-circle-percentage: 0.66 !default;

/* =======================================================
 */

 /* Calculations */
$circumference: 125.663; /* Based on radius of 20 */
$calculate-dash: $circumference*$loading-spinner-circle-percentage;
$calculate-gap: $circumference*(1-$loading-spinner-circle-percentage);
$half-size-regular: $loading-spinner-size-regular/2;
$loading-spinner-rgb: toRGB($loading-spinner-color);
$loading-spinner-rgb-loading: toRGB($loading-spinner-color-loading);

@keyframes loadingRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.loading-spinner {
    display: inline-block;
    &::after {
        content: '';
        height: $loading-spinner-size-regular;
        width: $loading-spinner-size-regular;
        background-size: $loading-spinner-size-regular;
        display: block;
        background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg'>
          <ellipse cx='22' cy='22' rx='20' ry='20' fill='none' stroke='#{$loading-spinner-rgb}' stroke-dasharray='#{$calculate-dash} #{$calculate-gap}' stroke-width='3' stroke-linecap='butt'/>
        </svg>");
        animation: loadingRotation $loading-spinner-rotation-speed infinite linear;
    }
    &.large::after {
        height: $loading-spinner-size-large;
        width: $loading-spinner-size-large;
        background-size: $loading-spinner-size-large;
    }
}

.button.load,
button.load {
    &::after {
        opacity: 0;
    }
    &.is-loading {
        color: transparent;
        position: relative;
        &:hover,
        &:active,
        &:focus {
            color: transparent;
        }
        &::after {
            content: '';
            position: absolute;
            top: calc(50% - #{$half-size-regular});
            left: calc(50% - #{$half-size-regular});
            height: $loading-spinner-size-regular;
            width: $loading-spinner-size-regular;
            background-size: $loading-spinner-size-regular;
            display: block;
            margin: auto;
            background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg'>
              <ellipse cx='22' cy='22' rx='20' ry='20' fill='none' stroke='#{$loading-spinner-rgb-loading}' stroke-dasharray='#{$calculate-dash} #{$calculate-gap}' stroke-width='3' stroke-linecap='butt'/>
            </svg>");
            background-position: center center;
            background-repeat: no-repeat;
            animation: loadingRotation $loading-spinner-rotation-speed infinite linear;
            transition: opactiy 0.6s ease;
            opacity: 1;
        }
    }
}

.loadingPage-wrap {
    height: 100vh;
    // display: flex;
    // flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
