/* =======================================================
 * CONFIGURE
   ======================================================= */

 // configured in forms

 /* =======================================================
  */

.range-selector-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    & button {
        font-size: $space-4;
        flex: 0 0 $form-feild-height*2;
        max-width: 25%;
        text-align: center;
        padding: 0;
        height: $form-feild-height;
        @extend %button-form;

        &:first-of-type  {
            border-radius: $button-radius 0 0 $button-radius;
        }
        &:last-of-type  {
            border-radius: 0 $button-radius $button-radius 0;
        }
        &:active {
            @extend %button-form-active;
        }
        &:focus {
            outline: none;
        }
    }
    & input {
        /* IE flexbox fix on mobile */
        width: 140px;
        flex: 1 1 auto;
        margin: 0 $space-1;
        padding: 0;
        -webkit-appearance: none;
        border: none;
        background: transparent;
        text-align: center;
        font-weight: bold;
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &:focus {
            border: none;
        }
    }





}
