/* =======================================================
 * CONFIGURE
   ======================================================= */

// Configured in buttons.scss
   
/* =======================================================
*/


.toggle-wrap {

    display: inline-flex;
    flex-flow: row nowrap;

    input[type=radio],
    input[type=checkbox] {
        display: none;
        & + label {
            &:before,
            &:after {
                display: none;
            }
            flex: 1 1 auto;
            margin: 0;
            margin-right: -1px;
            @extend %button-form;

        }
        &:checked + label {
            @extend %button-form-active;
        }
    }
    label {

        &:first-of-type  {
            border-radius: $button-radius 0 0 $button-radius;
        }
        &:last-of-type  {
            border-radius: 0 $button-radius $button-radius 0;
        }

    }
}
